html {
  position:relative;
}

body {
  background-color: lightgray;
  position: relative;
  display: block;
  margin: 0;
  
}
img {
  i
}
.panel-primary {
  margin-left: 20px;
  margin-right: 20px;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  font-size: 75px  
}

h2 {
  font-family: Impact, white, sans-serif;
  color: lightgray;  
  

}

img {
  float: left;
  width: 100px
}

p {
  text-align: auto;
}
