body {
  background-color: skyblue;
}

h1 {
  text-align: center;
  font-family: Impact, Charcoal, sans-serif;
  color: white;
  font-size: 50px
  
}

h2 {
  font-family: Impact, white, sans-serif;
  color: white;
  
  
}

blockquote {
  
}